<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DANMAKU_via_Mastodon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DANMAKU_via_Mastodon.Properties.Settings>
            <setting name="Tag" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamingType" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="FontWeight" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Yu Gothic UI</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Instance" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="List" serializeAs="String">
                <value />
            </setting>
            <setting name="Local" serializeAs="String">
                <value>False</value>
            </setting>
        </DANMAKU_via_Mastodon.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
